body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #615e5e;
    background: #f4d4c9;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a.active {
    background-color: #fbe5de;
    color: #333;
    transition: ;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

.title{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .underline{
    margin: 0 auto;
    background-color: #333;
    height: 10px;
    width: 80px;
    border-radius: 10px;
  }

  .content{
    text-align: center;
    padding-left: 100px;
  }
  button {
    background-color: #333;
    color: #f2f2f2;
    padding: 14px 15px;
    margin: 5px 3px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 3px;
  }

/*index.html*/
.title2{
    overflow: hidden;
    align-items: none;
    height: 100vh;
    align-items: center;
    justify-content: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}
.med-container{
    max-width: 500px;
    flex-basis: 30%;
    min-width: 200px;
    margin: 20px 20px;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
    background: #f6ebe7;
}
.row2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* about.html */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 250px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    min-width: 200px;
    margin: 20px 0;
    text-align: center;
    padding: 40px 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
    background: #f6ebe7;
}
.col-3 img{
    width: 50px;
    margin: 10px 0;
    border-radius: 50px;
}
.col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 12px;
    color: #777;
}
.col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
    padding: 0;
    width: 100%;
}

/* rewards.html */
.col-4{
    align-items: center;
    flex-basis: 30%;
    min-width: 200px;
    margin: 30px 0;
    text-align: center;
    padding: 30px 10px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
    background: #ffffff;
}
.col-4 img{
    max-width: 100px;
    margin: 10px 0;
    border-radius: 10px;
}
.col-4:hover{
    transform: translateY(-10px);
}
.col-4 p{
    font-size: 12px;
    color: #777;
}
.col-4 h3{
    font-weight: 600;
    color: #555;
    font-size: 26px;
    padding: 0;
    width: 100%;
}

/* cart.php */
.cart-page{
    margin: 25px auto;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  .cart-info{
    display: flex;
    flex-wrap: wrap;
  }
  th{
    text-align: center;
    padding: 5px;
    color: #fff;
    background: #333;
    font-weight: normal;
  }
  td{
    padding: 10px 5px;
  }
  td input{
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  td a{
    color: #333;
    font-size: 12px;
  }
  td img{
    width: 150px;
    margin-right: 10px;
  }
  .total-price{
    display: flex;
    justify-content: flex-end;
  }
  .total-price table{
    border-top: 3px solid #333;
    width: 100%;
    max-width: 400px;
  }
  td:last-child{
    text-align: right;
  }
  th:last-child{
    text-align: right;
  }
  #searchresult{
    display: none;
    animation: fadeIn 1s;
    position: fixed;
    bottom: 0;
    color: #f2f2f2;
    width: 17%;
    background-color:#333;
    padding: 15px 30px;
    float: right;
    margin: 10px;
  }
  

div#stopwatch{
    border-radius: 12px;
    padding: 2%;
    border: 0;
    background: #f4d4c9;
    box-shadow: 5px 5px 10px #cfb4ab, -5px -5px 10px #fff4e7;
}
div#sw-time{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background: #f4d4c9;
    box-shadow: 20px 20px 60px #cfb4ab, -20px -20px 60px #fff7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 2rem;
}
button#sw-rst,button#sw-go{
    margin: 50px 20px 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background: #f4d4c9;
    box-shadow: 20px 20px 60px #cfb4ab, -20px -20px 60px #fff4e7;
    color: #615e5e;
    cursor: pointer;
    transition: 0.3s;
}
button#sw-rst:focus,button#sw-go:focus{
outline: none;
}
button#sw-rst:hover,button#sw-go:hover{
color: #fff;
}